{% extends 'base.html' %}
{% load static %}
{% block binning %}  active {% endblock %}
{% block content %}
{% if message %}
  {% if status == 'Success' %}
  <div
    class="alert alert-success text-center"
    id="msg"
    style="margin-left: 10%; margin-top: 2%; margin-right: 5%;"
  >
    <span class="font-weight-bold"> {{status}} ! </span> {{message}}
  </div>
  {% else %}
    <div
    class="alert alert-danger text-center"
    id="msg"
    style="margin-left: 10%; margin-top: 2%; margin-right: 5%;"
  >
    <span class="font-weight-bold"> {{status}} ! </span> {{message}}
  </div>
  {% endif %}
{% endif %}

        <div class="container p-3">
          
          <div class="card attrDropCard pt-3 pb-3 pl-5 bg-light">
             <span 
                    data-toggle="tooltip"
                    data-placement="top"
                    id="tooltip"
                    title="Binning performs only on Numerical Features"
                    ><i
                      class="fa fa-info-circle text-info"
                      aria-hidden="true"
                    ></i
                  ></span>
            <div class="mr-5 text-center text-primary font-weight-bold h4">
                  Select Features for Binning (Quantization)
                </div>
            {% if NaN_percent == 0 %}
            <form
                class="form-group mt-5"
                action="/BinningCalc/{{fName}}/"
                method="POST"
                id="binningForm"
                enctype="multipart/form-data"
            >
            {% csrf_token %}
            <div class="row mb-5">
                <div class="col-3">
                  <div class="form-check mt-3">
                    <input type="checkbox" id="binningSelect" class="form-check-input">
                    <label class="form-check-label text-capitalize small text-dark pl-4 pt-1">Check All</label>
                  </div>
                </div>
                <div class="col-3">
                    <div class="form-check mt-3" id="rangeChoiceDiv">
                        <input type="checkbox" id="rangeChoice" class="form-check-input" onclick="myFunction()">
                        <label class="form-check-label text-capitalize ml-4 small">custom range per bin</>
                    </div>
                </div>
                <div class="col-3"  id="type">
                    <div class="form-group">
                      <select onChange="checkType()" name="binningType" id="binningType" class="ml-3 form-control form-control-lg rounded">
                        <option value="cut" class="form-control form-control-lg">cut</option>
                        <option value="qcut" class="form-control form-control-lg">qcut</option>
                      </select>
                    </div>
                </div>  
                <div class="col-3" style="display:none;" id="range">
                    <div class="form-group">
                        <input type="number" name="rangeVal"  placeholder="Enter range" class="form-control form-control-lg">
                    </div>
                </div>  
            </div>
            <div class="row">
            {% for clm in binning_list %}
              <div class="form-check col-6">
                {% if NaN_percent == 0 %}
                <input type="checkbox" name="binCol" value="{{clm}}" class="form-check-input ml-5 col binningSelect">
                <label class="form-check-label col-6 text-capitalize" for="binCol">{{clm}}</>
                {% else %}
                <input hidden type="checkbox" disabled name="attrFillCols" value="" class="form-check-input ml-5 col">
                <label hidden class="form-check-label col-6 text-capitalize" for="attrFillCol"></>
                {% endif %}
              </div>
            {% endfor %}
            </div>
           
            <div class="row mt-5">
                <div class="col-md-9"></div>
                
                <div class="col-md-1">
                <button  class="btn btn-primary"
                    >Proceed</button
                >
                </div>
            </div>
            </form>
            {% else%}
            <div class="mr-5 mt-5">
                <h5 class="alert alert-danger text-center">Your Dataset Have NaN Values</h5>
            </div>
            {% endif %}
          </div>
        </div>
        {% if binned_list %}
        <div class="container p-3">
           <div class="card attrDropCard pt-3 pb-3 pl-5 bg-light">
          <div class="row">
            <h5 class="text-primary font-weight-bold">Binned Features:</h5>
          </div>
          <div class="row">
            {% for col in binned_list %}
            <div class="col-3 mt-2">
              <label class="form-check-label text-capitalize">{{col}}</>
            </div>
              {% endfor %}
            </div>
        </div>
        </div>
        {% endif %}
        <div class="content-1 definitions">
          <div class="row mt-5">
              <div class="col ">
              <div class="h4 text-danger font-weight-bold">Binning</div>
              </div>
          </div>
          <div class="row">
              <div class="col col-md-12">
                <p class="small">When dealing with continuous numeric data, it is often helpful to bin the data into multiple buckets for further analysis. 
                  There are several different terms for binning including bucketing, discrete binning, discretization or quantization. 
                  Pandas supports these approaches using the <code class="code">cut</code> and <code class="code">qcut</code> functions. 
                  This article will briefly describe why you may want to bin your data and how to use the pandas functions to convert continuous data to a set of discrete buckets. 
                  Like many pandas functions, <code class="code">cut</code> and <code class="code">qcut</code> may seem simple but there is a lot of capability packed into those functions. 
                  Even for more experience users, I think you will learn a couple of tricks that will be useful for your own analysis.</p>
              </div>
          </div>
        </div>
        <div class="content-2 definitions">
          <div class="row mt-5">
              <div class="col ">
              <div class="h4 text-danger font-weight-normal">qcut</div>
              </div>
          </div>
          <div class="row">
              <div class="col col-md-12">
                <p class="small">The pandas <a class="reference external" href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.qcut.html">documentation</a> 
                describes <code class="code">qcut</code> as a <b>“Quantile-based discretization function”</b>. This basically means that <code class="code">qcut</code>
                tries to divide up the underlying data into equal sized bins. 
                The function defines the bins using percentiles based on the distribution of the data, not the actual numeric edges of the&nbsp;bins.</p>
              </div>
          </div>
        </div>
        <div class="content-3 definitions">
          <div class="row mt-5">
              <div class="col ">
              <div class="h4 text-danger font-weight-normal">cut</div>
              </div>
          </div>
          <div class="row">
              <div class="col col-md-12">
                <p class="small">On the other hand, <code class="code">cut</code>
                is used to specifically define the bin edges. There is no guarantee about
                the distribution of items in each bin. In fact, you can define bins in such a way that no
                items are included in a bin or nearly all items are in a single&nbsp;bin.</p>
              </div>
          </div>
        </div>
         

{% endblock  %}


{% block javascript %}
 <script>
      function myFunction() {
        if (document.getElementById("rangeChoice").checked == true) {
          document.getElementById("range").style.display = "block";
        } else {
          document.getElementById("range").style.display = "none";
        }
      }


      $("#binningSelect").click(function () {
        $('.binningSelect').not(this).prop('checked', this.checked);
      });


      function checkType(){
        if(document.getElementById("binningType").value == 'qcut'){
          document.getElementById("rangeChoiceDiv").style.display = "none";
        }else{
          document.getElementById("rangeChoiceDiv").style.display = "";
        }
      }
    </script>
{% endblock %}