{% extends 'base.html' %}
{% load static %}
{% block label-encode %} active {% endblock %}
{% block content %}
{% if message %}
        {% if status == 'Success' %}
        <div
          class="alert alert-success text-center"
          id="msg"
          style="margin-left: 10%; margin-top: 2%; margin-right: 5%;"
        >
          <span class="font-weight-bold"> {{status}} ! </span> {{message}}
        </div>
        {% else %}
         <div
          class="alert alert-danger text-center"
          id="msg"
          style="margin-left: 10%; margin-top: 2%; margin-right: 5%;"
        >
          <span class="font-weight-bold"> {{status}} ! </span> {{message}}
        </div>
        {% endif %}
        {% endif %}

        <div class="container p-3">
          
          <div class="card attrDropCard pt-3 pb-3 pl-5 bg-light">
             <span 
                    data-toggle="tooltip"
                    data-placement="top"
                    id="tooltip"
                    title="Label-Encoding performs only on Categorical Features"
                    ><i
                      class="fa fa-info-circle text-info"
                      aria-hidden="true"
                    ></i
                  ></span>
            <div class="mr-5 text-center text-primary font-weight-bold h4">
                  Select Features for Label Encode
                </div>
            {% if NaN_percent == 0 %}
            <div class="form-check mt-3">
              <input type="checkbox" id="labelSelect" class="form-check-input">
              <label class="form-check-label text-capitalize small text-dark pl-4 pt-1">Check All</label>
            </div>
            <form
                class="form-group mt-5"
                action="/LabelEncodingCalc/{{fName}}/"
                method="POST"
                id="labelencodingForm"
                enctype="multipart/form-data"
            >
            {% csrf_token %}
            {% if labelling_list %}
            <div class="row">
            {% for clm in labelling_list %}
              <div class="form-check col-6">
                {% if NaN_percent == 0 %}
                <input type="checkbox" name="labelCol" value="{{clm}}" class="form-check-input ml-5 col labelSelect">
                <label class="form-check-label col-6 text-capitalize" for="binCol">{{clm}}</>
                {% else %}
                <input hidden type="checkbox" disabled name="attrFillCols" value="" class="form-check-input ml-5 col">
                <label hidden class="form-check-label col-6 text-capitalize" for="attrFillCol"></>
                {% endif %}
              </div>
            {% endfor %}
            </div>
            <div class="row mt-5">
                <div class="col-md-9"></div>
                
                <div class="col-md-1">
                <button  class="btn btn-primary"
                    >Proceed</button
                >
                </div>
            </div>
            {% else %}
            <div class="row mt-5">
              <div class="col mr-5 mt-5">
                <h5 class="alert alert-danger text-center">Categorical Features Does Not Exits</h5>
            </div>
            </div>
            {% endif %}
            
            </form>
            {% else%}
            <div class="mr-5 mt-5">
                <h5 class="alert alert-danger text-center">Your Dataset Have NaN Values</h5>
            </div>
            {% endif %}
          </div>
        </div>
        {% if labelled_list %}
        <div class="container p-3">
           <div class="card attrDropCard pt-3 pb-3 pl-5 bg-light">
          <div class="row">
            <h5 class="text-primary font-weight-bold">Labelled Features:</h5>
          </div>
          <div class="row">
            {% for col in labelled_list %}
            <div class="col-3 mt-2">
              <label class="form-check-label text-capitalize">{{col}}</>
            </div>
              {% endfor %}
            </div>
        </div>
        </div>
        {% endif %}

   <div class="content-1 definitions">
    <div class="row mt-5">
              <div class="col ">
              <div class="h4 text-danger font-weight-bold">Label Encoding</div>
              </div>
          </div>
    <div class="row">
        <div class="col col-md-12">
          <p class="small">Label encoding can be performed mostly for converting the categorical class labels into an integer format which doesn’t follow an order. In Label encoding, each label is converted into an integer value.</p>
        </div>
    </div>
  </div>
{% endblock  %}


{% block javascript %}
 <script>
      $("#labelSelect").click(function () {
        $('.labelSelect').not(this).prop('checked', this.checked);
      });
    </script>
{% endblock %}