{% extends 'base.html' %}
{% load static %}
{% block new-feature-generate %} active {% endblock %}
{% block content %}
{% if message %}
        {% if status == 'Success' %}
        <div
          class="alert alert-success text-center"
          id="msg"
          style="margin-left: 10%; margin-top: 2%; margin-right: 5%;"
        >
          <span class="font-weight-bold"> {{status}} ! </span> {{message}}
        </div>
        {% else %}
         <div
          class="alert alert-danger text-center"
          id="msg"
          style="margin-left: 10%; margin-top: 2%; margin-right: 5%;"
        >
          <span class="font-weight-bold"> {{status}} ! </span> {{message}}
        </div>
        {% endif %}
        {% endif %}

        <div class="container p-3">
          
          <div class="card attrDropCard pt-3 pb-3 pl-5 bg-light">
             <span 
                    data-toggle="tooltip"
                    data-placement="top"
                    id="tooltip"
                    title="New Feature Generation performs only on Eligible Features such as Date, BMI, etc."
                    ><i
                      class="fa fa-info-circle text-info"
                      aria-hidden="true"
                    ></i
                  ></span>
            <div class="mr-5 text-center text-primary font-weight-bold h4">
                  Select Features to Generate New Features
                </div>
            {% if NaN_percent == 0 %}
           
            <form
                class="form-group mt-5"
                action="/NewFeatureCalc/{{fName}}/"
                method="POST"
                id="featureGenerationForm"
                enctype="multipart/form-data"
            >
            {% csrf_token %}
            {% if new_feature_list %}
            <div class="row mb-5">
                <div class="col-3">
                    <div class="form-check col-6 mt-2">
                      <input type="checkbox" id="newFeatureSelect" class="form-check-input">
                      <label class="form-check-label text-capitalize small text-dark pl-4 pt-1">Check All</label>
                    </div>
                </div>
            </div>
            <div class="row">
            {% for clm in new_feature_list %}
              <div class="form-check col-6">
                {% if NaN_percent == 0 %}
                <input type="checkbox" name="newFeatureCol" value="{{clm}}" class="form-check-input ml-5 col newFeatureSelect">
                <label class="form-check-label col-6 text-capitalize" for="newFeatureCol">{{clm}}</>
                {% else %}
                <input hidden type="checkbox" disabled value="" class="form-check-input ml-5 col">
                <label hidden class="form-check-label col-6 text-capitalize"></>
                {% endif %}
              </div>
            {% endfor %}
            </div>
            <div class="row mt-5">
                <div class="col-md-9"></div>
                
                <div class="col-md-1">
                <button  class="btn btn-primary"
                    >Proceed</button
                >
                </div>
            </div>
            {% else %}
            <div class="row mt-5">
              <div class="col mr-5 mt-5">
                <h5 class="alert alert-danger text-center">No Features are eligible to generate new features.</h5>
            </div>
            </div>
            {% endif %}
            
            </form>
            {% else%}
            <div class="mr-5 mt-5">
                <h5 class="alert alert-danger text-center">Your Dataset Have NaN Values</h5>
            </div>
            {% endif %}
          </div>
        </div>
        {% if newly_generated_list %}
        <div class="container p-3">
           <div class="card attrDropCard pt-3 pb-3 pl-5 bg-light">
          <div class="row">
            <h5 class="text-primary font-weight-bold">Newly Generated Features are:</h5>
          </div>
          <div class="row">
            {% for col in newly_generated_list %}
            <div class="col-3 mt-2">
              <label class="form-check-label text-capitalize">{{col}}</>
            </div>
              {% endfor %}
            </div>
        </div>
        </div>
        {% endif %}
        <div class="content-1 definitions">
          <div class="row mt-5">
              <div class="col ">
              <div class="h4 text-danger font-weight-bold">Generate New Feature</div>
              </div>
          </div>
        </div>
        <div class="content-2 definitions">
          <div class="row mt-3">
              <div class="col ">
              <div class="h4 text-danger font-weight-normal">Feature Engineering for Time Series: Date-Related Features</div>
              </div>
          </div>
          <div class="row">
              <div class="col col-md-12">
                <p class="small">The task of forecasting the sales for a particular product. We can find out the sales pattern for weekdays and weekends based on historical data. Thus, having information about the <code class="code">day</code> <code class="code">month</code> <code class="code">year</code> etc. can be useful for forecasting the values.</p>
              </div>
          </div>
        </div>
        <div class="content-2 definitions">
          <div class="row mt-3">
              <div class="col ">
              <div class="h4 text-danger font-weight-normal">Feature Engineering for Time Series: Time-Based Features</div>
              </div>
          </div>
          <div class="row">
              <div class="col col-md-12">
                <p class="small">We can similarly extract more granular features if we have the time stamp. For instance, we can determine the hour or minute of the day when the data was recorded and compare the trends between the business hours and non-business hours.</p>
              </div>
          </div>
        </div>
 
{% endblock  %}

{% block javascript %}

<script>
  $("#newFeatureSelect").click(function () {
     $('.newFeatureSelect').not(this).prop('checked', this.checked);
  });
</script>

{% endblock %}